<div id="footer">
    <div class="f_top">
        <div class="center">
            <ul class="f_menu">
                <li><a href="#">회사소개</a></li>
                <li><a href="#">오시는길</a></li>
                <li><a href="#">개인정보처리지침</a></li>
                <li><a href="#">이메일무단수집거부</a></li>
            </ul>
        </div>
    </div>
    <div class="f_bot">
        <div class="center">
            <div class="f_logo left"><img src="/img/logo.png" alt=""></div>
            <div class="right">
                <div class="addr">
                    <span class="comp">본사</span>
                    <span class="comp_addr">경상북도 경주시 천북면 천북산단로 70</span>
                    <span class="comp_tel">Tel. 054-743-5538</span>
                    <span class="comp_fax">Fax. 054-743-5536</span>
                </div>
                <div class="copy">
                    COPYRIGHT (C) <span>GNTECH</span>. ALL RIGHTS RESERVED
                </div>
            </div>
        </div>
    </div>
</div>